html,
body {
    background-color: white;
    color: #ffffff;
    min-height: 100vh;
  }

.about-img {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.about-p {
  font-size: 23px;
}

.title-about {
  font-size: 30px;
}
  
  h1,
  h2,
  h3 {
    color: black;
    /* border: 1px solid red */
    font-family: 'Anton', sans-serif;
  }
  
  .container {
    padding: 40px;
    padding-right: 0;
  }
  
  h1.title {
    font-size: 20px;
    /* display: flex;
    justify-content: flex-end; */
    /* margin-top: -300px; */
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
  }
  
  .gallery .card {
    transition: 0.1s linear;
  }
  
  .gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
  }
  
  p {
    font-size: 12px;
  }
  
  .detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* margin-left: 20px; */
  }
  
  .detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
   
  }
  
  img {
    width: 300px;
    object-fit: cover;
    object-position: top;
    /* border: 1px solid red */
    border-radius:20px;
    padding-top: 10px;
  }
  
  .detail__name {
    position: relative;
    margin-left: 300px;
    margin-top: -200px;
    z-index: 5;
    top: 400px;
  }
  
  .detail__container {
    margin-top: 500px;
  }

  .exact-listing-img {
    width: 100%;
    height: 500px;
    object-fit: none;
    /* object-position:center; */
    margin-left: 100px;
    /* border-radius: 5px; */
  }

.buttons {
  margin: 300px;
}

.ebay-navbar-container {
  color:black
}

.p-home {
  color:black
}

.p-detail {
  color: black
}

.p-about {
  color: black;
  font-size: 23px;
}