{% extends 'base.html' %} {% block content %}

<h1 class="title">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-dark" href="{% url 'listings_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'listings_create' %}">Add a Listing</a>
</form>
<div class="gallery">
  {% for listing in listings %}
  <a href="{% url 'listings_detail' listing.pk %}">
    {% comment %} {% for listing in api %} {% endcomment %}
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{listing.img}}" alt="{{listing.name}}" />
          {% comment %} <img src="{{listing.galleryURL}}" alt="{{listing.title}}" /> {% endcomment %}
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{listing.name}}</p>
        <p class="card-header-title">{{listing.price}}</p>
        {% comment %} <p class="card-header-title">{{listing.title}}</p> {% endcomment %}
        {% comment %} <p>{{listing.condition.conditionDisplayName}}</p> {% endcomment %}
        {% comment %} <p>{{listing.sellerInfo.feedbackScore}}</p> {% endcomment %}
        {% comment %} <p>{{listing.listingInfo.buyItNowAvailable}}</p> {% endcomment %}
      </div>
      <div>
      {% comment %} <p>{{listing.sellingStatus.currentPrice.value}}</p> {% endcomment %}

      {% comment %} {% if listing.listingInfo.bestOfferEnabled == "true" %}
      Buy it Now
      {% endif %}
      <p>+ {{listing.shippingInfo.shippingServiceCost.value}} shipping</p> {% endcomment %}
      
      
      </div>
    </a>
    </div>
  {% comment %} </a> {% endcomment %}
  {% endfor %}
</div>

{% endblock %}